body{
    overflow-x:hidden ;
    font-family: sans-serif;
}

.navbar {
    background-color: #000;
    height: 20px;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}
.main-image {
    width: 1500px;
    margin-top: 20px;
    height: 647px; /* Set fixed height */
    
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.image-overlay h2{
    margin-bottom: -50px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif,sans-serif;
}
.image-title {
    margin-top: 390px;
    font-family: sans-serif;
    font-size: 75px;
    color: #fff;
    margin-right: 20px;
}

.discover-btn {
    margin-top: 500px;
    background-color: transparent;
    color: #fff;
    border: 1px solid whitesmoke;
    padding: 15px 30px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 500px;
}



.discover-btn:hover {
    background-color: blue;
    color: 
    #fff;
}

/* Clear floats */
.image-overlay::after {
    content: '';
    display: block;
    clear: both;
}




.title {
    font-family: 'Great Vibes', cursive;
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
}

.nav-links, .catalogue-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li, .catalogue-links li {
    margin-right: 20px;
    font-size: 12px;
    position: relative;
}

.nav-links a, .catalogue-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-links a:hover, .catalogue-links a:hover {
    color: #ccc;
}

.nav-links a::after, .catalogue-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ccc;
    transition: width 0.2s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-links a:hover::after, .catalogue-links a:hover::after {
    width: 100%;
}

.nav-links li:hover, .catalogue-links li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.catalogue-links {
    margin-right: 50px;
}


.bag-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #fff;
    font-size: 12px;
}

.bag-count {
    background-color: #fff;
    color: #000;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 5px;
}
.shirt-area {
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 23px;
    height: 22px;
    position: absolute;
   /* smaller, darker shadow */
  }
  
  
.shirt-info {
    position: absolute;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    display: none;
    z-index: 1;
    height: 68px;
    width: 170px;
    font-family: sans-serif;
    margin-top: -7vh;
    box-shadow: 0 0 10px orange;
  }
  


/* Adjust circle positions */
.shirt-area:nth-child(1) {
    left: 1200px;
    bottom: 350px;
    box-shadow: 0 0 10px whitesmoke;
}

.shirt-area:nth-child(2) {
    top: 300px;
    left: 300px;
    box-shadow: 0 0 10px whitesmoke;
}

.shirt-area:nth-child(3) {
    top: 300px;
    left: 540px;
    box-shadow: 0 0 10px whitesmoke;
}

.shirt-area:nth-child(4) {
    top: 300px;
    left: 850px;
    box-shadow: 0 0 10px whitesmoke;
}

.bottom-section {
    position: relative;
    background-color: #000;
    padding: 100px 0;
    
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.bottom-content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: start;
    margin-bottom: -100px;
    
    
}

.bottom-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: -60px;
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: 5;
}


.subscribe-btn {
    background-color:transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
    border: 1px solid whitesmoke;
    margin-top: -90px;
    
}
.subscribe-btn:hover{
    background-color: blue;
    border: none;
}

/* Form container styling */
form {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns form to the right */
    margin-left: auto;
    margin-right: 40px;
    padding: 20px; /* Padding added inside the form */
    background-color: white; /* Background color for form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for form */
    width: fit-content; /* Ensures form width adjusts dynamically */

}
form p{
    color: black;
    margin-right: 295px;
    font-size: 13px;
    font-style: bold;
}
form h6{
    color: #000;
    margin-right: 260px;
}
/* Input field styling */
form input {
    width: 500px;
    height: 15px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: silver;
}
form input::placeholder {
    color: black; /* This changes the placeholder text color */
}

/* Button styling */
form button {
    width: 200px;
    height: 40px;
    background-color:rgb(48, 48, 216);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 10px;
    margin-top: -50px;
    
}

/* Hover effects */
form button:hover {
    background-color:whitesmoke;
    color: blue;
    box-shadow: 0 0 2px blue;
}

/* Responsive design */
@media (max-width: 768px) {
    form input, form button {
        width: 200px;
    }
}

@media (max-width: 480px) {
    form input, form button {
        width: 150px;
    }
}
.main{
   
    width:100%;
   
    
    background-color: black;
  
    /* background-color: rgb(194, 35, 35); */
}
.d1{
    width:100%;
    
    /* background-color: brown; */

}
.d1 h2{
    color: white;
    font-size: 20px;
    padding: 0px 30px;
    padding-top: 50px;
    padding-bottom: 120px;
    font-weight: lighter;
    
}
.s1{
    padding: 20px 30px;
    border: 2px dotted rgb(70, 70, 70);
    width: 35%;
    /* background-color: blue; */
}
.s2{
    padding: 20px 33px;
    border: 2px dotted rgb(70, 70, 70);
    width: 35%;
    /* background-color: rgb(71, 219, 26); */
}
.s3{
    padding: 20px 33px;
    border: 2px dotted rgb(70, 70, 70);
    width: 35%;
    /* background-color: rgb(142, 57, 11); */
}
.d2{
    display: flex;
    justify-content: space-between;

}
p{
    padding-top: 40px;
    padding-bottom: 20px;
}
.link{
    display: flex;
    height: 285px;
}
.c1{
    /* background-color: blueviolet; */
    padding: 40px 40px;
    width: 30%;
}
.c2{
    /* background-color: aquamarine; */
    padding: 40px 40px;
    padding-left: 100px;
    width: 30%;
    
    /* background-color: blue; */
}
.c3{
    /* background-color: blanchedalmond; */
    padding: 40px 40px;
    width: 35%;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
     margin-left:140px ;
}

.a1{
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: rgb(153, 152, 152);
    font-size: 13px;
}
h3{
    color: white;
}
p{
    font-size: 13px;
    color: rgb(153, 152, 152);
}

.circle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.icon{
    /* background-color: blueviolet; */
    padding-left: 40px ;
    /* margin-left: 40px; */
    gap:10px;
    
    width: 220px;
    display: flex;
    justify-content: space-between;
    
}
.circle i{
    font-size: 20px;

}
a:hover{
    color: rgb(222, 222, 222)

}
.circle:hover{
   background-color: rgb(174, 174, 174);
}
h3{
    font-size: 15px;
}
nav{
    
    display: flex;
    justify-content: space-between;
}
nav h6{
    padding:  10px 15px;
    font-size: 11px;

    color: white;
}
.dline{
    height:1px;
    width:100%;
    border: 1px dotted rgb(70, 70, 70);
}










